fieldset p {margin: 10px 0;}
.navbar {
    border: 1px solid #eee;
    background: #fefefe;
}
.element_row{
}
.element_cell,
.detail_table td{
    border: 1px solid #ccc;
    width: 20rem;
    text-align: center;
}
.order-model-toggle{cursor:pointer;}

